
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Index</title>
</head>
<body>
    <div> 
        <ul style="list-style:none">
            <li>
                <a style="text-decoration:none" href="/Logout/index">Logout</a>
            </li>
            <li>
                <a style="text-decoration:none" href="/Admin/AddProduct">Add Product</a>
            </li>
        </ul>     
       
    </div>
</body>
</html>
